language: vi
pipeline:
  - name: WhitespaceTokenizer
  - name: RegexFeaturizer
  - name: LexicalSyntacticFeaturizer
  - name: CountVectorsFeaturizer
    analyzer: char_wb
    min_ngram: 1
    max_ngram: 4
    lowercase: false
  - name: CountVectorsFeaturizer
    analyzer: word
    min_ngram: 1
    max_ngram: 2
    lowercase: false
  - name: DIETClassifier
    epochs: 100
    constrain_similarities: true  
  - name: EntitySynonymMapper
  - name: ResponseSelector
    epochs: 100
    constrain_similarities: true   
policies:
  - name: TEDPolicy
    epochs: 100
    max_history: 5
  - name: RulePolicy
  - name: MemoizationPolicy
    max_history: 5
assistant_id: 20250918-123831-solid-align
